torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
pytest
loguru
pydantic
scikit-learn
tqdm
accelerate
submitit
hydra-core
hydra-submitit-launcher
datasets
transformers
requests
PyPDF2
jsonlines
ipykernel
tabulate
altair
ipywidgets
fire
openai
GitPython
gdown
google-generativeai
plotly
kaleido
wget
pandas
